

body{
    background-color:#ffffff;
    margin:0;
    padding:0;
    font-size:0.75em;
}

#wrap{
	width:1260px;
 	max-width:1920px; /* 각 웹 페이지 크기에 맞게 사이즈 조정 */
    text-align:left;
    margin:0;
    background-color:#ffffff;
    font-family:Arial,Helvetica,sans-serif;
	min-height:780phttp://localhost:8085/images/spot1.jpgx; 
    
}
.clear{clear:both;}

#logo{
    float:left;
    width:180px;
    height:100px;
    margin:0 0 0 20px;
}

nav#catagory_menu{
	float:right;
	margin:20px 64px 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

table#cartList {
    border-collapse:collapse;    /* border 사이의 간격 없앰 */
    border-top: 2px solid  #333;    
    border-bottom: 1px solid  #333; 
    width:1260px;                  /* 전체 테이블 길이 설정 */
    margin-bottom: 20px;
}

table#cartList th, td{	
    border-bottom: 1px dotted  #333; 
	text-align: center;
}

nav#catagory_menu ul{
    list-style:none; 
}

nav#catagory_menu ul li{
	display:block; 
    height:30px;
    float:left;
    font-family: 굴림;
}

nav#catagory_menu a{
    text-decoration:none;
    display:inline-block;
    text-align: center;	
    color: #575757;
    /* font-weight: bold; */
}

nav#catagory_menu a:hover{
    color: #F90;
    font-weight: bold;
}

nav#top_menu{
    overflow: hidden;
    background-color: #ffffff;
    border-top: 1px solid;
    width:1260px;
}

nav#top_menu ul{
	/* margin-left:10%; */
    list-style:none;
    font-family:Arial,Helvetica,sans-serif;
}
nav#top_menu ul li{
	width:20%;   
    float:left;
    margin:auto;  
  
   	text-align: right; 
   
}

nav#top_menu a{
	float: left;
	color: #000000;
	height:30px;
	text-align: center;
 	padding: auto;
    text-decoration:none;   
    font-size: 14px;
    display:inline-block; 
    font-weight: bold;
}

nav#top_menu a:hover{
    color: #F90;
    font-weight: bold; 
}

<!--// 캐러셀 부분 시작  -->
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width:1260px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  background-color: #000000;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} 

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

<!--// 캐러셀 부분 끝  -->





 article{
	float:left;
	width:100%;
	display:inline-block;
} 


article h1, div h1 {
	font-family: 'Malgun Gothic', Lato, monospace,
	 Corbel, Dotum, AppleGothic, Helvetica, sans-serif;
	font-size: 45px;
	color: #808080;
	margin: 20px 20px 20px 10px;
	font-weight: bold;
}

article h2, div h2 {
	font-family: 'Malgun Gothic', Lato, monospace, 
	Corbel, Dotum, AppleGothic, Helvetica, sans-serif;
	font-size: 20px; 
	color: #000000;
	padding-bottom: 15px;
	border-bottom: 1px  dotted	 #666; /* 제목 하단 부에 점선을 넣어 제목 표시 */	
	 margin-left:40px 
	width:100%;
	
	
	
}


#bestProduct{
    border:solid 1px #FFFFFF;
    border-radius:10px;
    width:100%;
    min-height:510px;
    background:#ebebeb;
    padding:10px;
    text-align: center;    
}

#kindProduct{
    border:solid 1px #FFFFFF;
    border-radius:10px;
    width:100%;   
    min-height:510px; 
    background:#ebebeb;
    padding:10px;
    text-align: center;
}

#item{
	float:left;
	display:inline-block;
    width:25%;
    float:left; 
    margin: 0 0px;
    text-align: center;
}

#item{
	width: 25%; 
	height : 500px;
}
#item img{
 	width: 90%; 
	height : 400px;
}

#itemdetail{
	width:1000px;
	height:600px;
}


#itemdetail  img{
	width: 100%; 
 height : 550px; 
	margin-right: 20px;
}

#detail{
	width:100%;
}
#detail  img{
	width: 100%; 
	/* height : 550px; */
	 position: relative;
  left: 30px;
}
a{
    color:#000000;
    text-decoration:none;
}
a:hover{
    color:#F90;
 /*    text-decoration:underline; */
}

#pname {
	font-size: 20px; 
	border-bottom: 1px dotted #666; 
	padding: 5px 0; 
}

footer {
	width:100%;
	height:70px;
	/* height:100px; */
	background-repeat: no-repeat;
	background-position: 40px center;	 
}

footer #copy {
	width:100%;
	margin: 20px 0 10px 40px;
	float:left;	
}

div#front{
    margin:5px 0 5px 0px;
}

#sub_menu {
	display:inline-block;
	
	width: 100%;
	float: left;
	margin: 20px 0;
}

#sub_menu ul {
	margin: 20px 0 0 16px;
	list-style: none;

}

#sub_menu li {
	display: inline-block;
}

#sub_menu a {
	text-decoration: none;
	color: black; 
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold; font-size:16px;
	display:inline-block;
	height: 20px;
	width: 160px;
	padding: 5px;
	text-align:center;
	border: 1px solid #999;
	/* border-radius:3px; */
	
}

#sub_menu a:hover {
	/* background-image: url(../images/bullet_orange.gif);
	background-repeat: no-repeat; 
	background-position: right center; */
	color: #F90;font-weight:bold; font-size:16px;
	font-family: Arial, Helvetica, sans-serif;
}

article {
	float:left;
	width: 100%;
	padding :auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	line-height: 1.5em; 
}
article h1{
	padding-left:100px;
}
article h2{
	padding-left:30px;
}
 form h2{
 text-align:center;
	margin:0 20px 0 0;
	
}
article h2{
	padding-left:30px;
}

article p {
	padding-left: 10px;
}

article table#notice {
	width: 400px;
	border-collapse: collapse;
	border-top: 1px solid #999;
}

article table#notice th {
	height: 30px;
	width: 70px;
	font-size: 14px; 
	font-weight: bold;
	padding: 5px; 
	color: #FFF;
	border-bottom: 1px dotted #999;
}

article table#notice td {
	text-align: left;
	padding: 6px 0;
	border-bottom: 1px dotted #999;
}

article table#notice tr:hover {
	background-color: #DDF;
	cursor: pointer;
	color: red;
}

form {
	margin: 10px 0 0 50px;
	width: 600px;
}

form fieldset {
	padding: 10px 0 20px 20px;
	border: none;
}

form fieldset legend {
	font-size: 20px; /* 제목으로 사용되기 때문에 크기를 크게 잡아줌 */
	border-bottom: 1px dotted #666; /* 제목 하단 부에 점선을 넣어 제목이라는 것을 표시해 줍니다. */
	width: 921px; /* 전체 크기를 잡아 줍니다. */
	padding: 5px 0; /* 위와 아래로 여백을 주고 좌우로는 여백을 없애버립니다. 
                                      여백을 안 주게 되면 밑줄과 너무 붙어버려 보기에 좋지 않음 */
}
 
form label {
	width: 140px; /* 전체의 크기를 정의 */
	float: left; /* 왼쪽으로 이동시킴 */
	margin: 5px 0 0 40px; /* 마진을 이용해서 상하간격을줌 */
	
}

 form input { 
	margin: 5px 0; label과 마찬가지로 여기도 동일하게 상하로 간격을 줍니다.
	border: 1px solid #999; input 박스의 테두리 모양을 정의해 줍니다.
	height:20px;
	background-color: #e7e7e7; 배경색을 이용하여 바탕화면 색과 차별을 줍니다.
}
form input {
	margin: 5px 0; label과 마찬가지로 여기도 동일하게 상하로 간격을 줍니다.
	border: 1px solid #999; input 박스의 테두리 모양을 정의해 줍니다.
	height:20px;
	background-color: #e7e7e7; 배경색을 이용하여 바탕화면 색과 차별을 줍니다.
}





form input.s1 {
	margin: 5px 0; 
	border: 1px solid #999;
	height:24px;
	color: #fff;
	background-color: #000000; 
}
form input.s2 {
	margin: 5px 0; 
	border: 1px solid #999; 
	height:24px;
	color: #808080;
	background-color: #fff; 
}
form input.s1:hover{
	color:#000000;
	background-color: #ffffff;
	border: 1px solid #000000;
}
form input.s2:hover{
	color: #000000;
	border: 1px solid #000000;
}
form input.id {
	width: 160px;
	height:20px;
	
}

form input.dup {
	width: 90px; 
	height: 23px; 
	border-radius: 8px;
	border: none;
	margin: 0 0 0 5px;
	font-weight: bold; 
	color: #ffffff;
 	background-image: url(../images/dup.jpg);
	background-repeat: repeat-x;
	background-position: center center; 
}

form #buttons {
	float:left;
	margin: 100px 0 0 100px;
	
}

form .submit,form  .submit1,form  .submit2,form  .submit3,form  .cancel {
	height: 30px; /* 버튼의 세로 크기를 정의합니다. */
	border: 1px solid #666; /* 버튼의 테두리를 정의합니다. */
	border-radius: 2px; 
	box-shadow: 3px 3px 2px #ccc; /* box-shadow를 이용해서 그림자를 만듭니다. */
	font-size: 14px; /* 글꼴 사이즈를 조절합니다. */
	background-position: center center;
/* 	color: #fff; */
	margin: 0 0 0 20px;
}
form  .submit{
	background-color:#000000;
	color:#fff;
	width: 100px;}
	
form  .submit1{background-color:#ffffff;
		width: 100px;}
form  .submit2{background-color::#c0c0c0;
		
		width: 100px;}
form  .submit3{background-color:#ff8000;
		width:150px;}
form  .cancel {background-color:#c0c0c0;
		width: 100px;}

form  .submit:hover{
	color: #000000;
	background-color:white;
	font-weight:bold;
}
form  .submit1:hover{
	color: #000000;
	background-color:white;
	font-weight:bold;
}
form  .submit2:hover{
	color: #000000;
	background-color:white;
	font-weight:bold;
}
form .submit3:hover{
	color: #000000;
	background-color:white;
	font-weight:bold;
}
form  .cancel:hover{
	color: #808080;
	background-color:#c0c0c0;
	border: 1px solid #000000;
	font-weight:bold;
	
}
